
sd_card_42.E01
DFIRWizard-output
*.E01
USB_Stick_maaike.E02
USB_Stick_maaike.E03
test.py
image.dd
__pycache__/extension_check.cpython-37.pyc
__pycache__/image.cpython-37.pyc
__pycache__/image_read.cpython-37.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
__pycache__/menuV1.cpython-37.pyc
*.pyc
iterating_image_files.py
